# DAT210x - Programming with Python for DS

## Module2 - Lab4

Import and alias Pandas:

In [1]:
# .. your code here ..
import pandas as pd

Load up the table from the link, and extract the dataset out of it. If you're having issues with this, look carefully at the sample code provided in the reading:

In [3]:
# .. your code here ..
df = pd.read_html('http://espn.go.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2', header = 1)[0]

In [4]:
df.head()

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G.1,A.1,G.2,A.2
0,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

In [5]:
df.columns

Index(['RK', 'PLAYER', 'TEAM', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'PTS/G',
       'SOG', 'PCT', 'GWG', 'G.1', 'A.1', 'G.2', 'A.2'],
      dtype='object')

Next up, rename the columns so that they are _similar_ to the column definitions provided to you on the website. Be careful and don't accidentally use any column names twice. If a column uses special characters, you can replace them with regular characters to make it easier to work with:

In [6]:
# .. your code here .
df.columns = ['RK','PLAYER','TEAM', 'GP', 'G', 'A','PTS' ,'+/-','PIM','PTS/G','SOG','PCT' ,'GWG', 'PPG', 'PPA', 'SHG', 'SHA']

In [7]:
df.head(2)

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,PPG,PPA,SHG,SHA
0,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1

Get rid of any row that has at least 4 NANs in it. That is, any rows that do not contain player points statistics:

In [8]:
# .. your code here ..
df = df.dropna(axis=0, thresh=4)

In [10]:
df.isnull().sum()

RK        22
PLAYER     0
TEAM       0
GP         0
G          0
A          0
PTS        0
+/-        0
PIM        0
PTS/G      0
SOG        0
PCT        0
GWG        0
PPG        0
PPA        0
SHG        0
SHA        0
dtype: int64

At this point, look through your dataset by printing it. There probably still are some erroneous rows in there. What indexing command(s) will you use to select all rows EXCEPT those rows?

In [11]:
# .. your code here ..
df = df.drop(df[df.PLAYER =='PLAYER'].index, axis = 0)

In [12]:
df.shape

(40, 17)

Get rid of the 'RK' column:

In [13]:
# .. your code here ..
df = df.drop( labels=['RK'], axis = 1)

Make sure there are no holes in your index by resetting it. There is an example of this in the reading material. By the way, drop the original index.

In [14]:
# .. your code here ..
df = df.reset_index(drop=True)

Check the data type of all columns, and ensure those that should be numeric are numeric.

In [15]:
# .. your code here ..
df.dtypes

PLAYER    object
TEAM      object
GP        object
G         object
A         object
PTS       object
+/-       object
PIM       object
PTS/G     object
SOG       object
PCT       object
GWG       object
PPG       object
PPA       object
SHG       object
SHA       object
dtype: object

In [16]:
numeric_col = list(df.columns[2:])
df[numeric_col] = df[numeric_col].apply(pd.to_numeric, args = ('coerce', ))
df.dtypes

PLAYER     object
TEAM       object
GP          int64
G           int64
A           int64
PTS         int64
+/-         int64
PIM         int64
PTS/G     float64
SOG         int64
PCT       float64
GWG         int64
PPG         int64
PPA         int64
SHG         int64
SHA         int64
dtype: object

Your dataframe is now ready! Use the appropriate commands to answer the questions on the course lab page.

In [17]:
# .. your code here ..
df.shape

(40, 16)

In [18]:
df['PCT'].nunique()

36

In [19]:
df.loc[15:16, 'GP'].sum()

164