# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
# .. your code here ..
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [2]:
# .. your code here ..
col_names = ['education', 'age', 'capital_gain', 'race', 'capital_loss', 'hours-per-week', 'sex', 'classification']
census = pd.read_csv("./Datasets/census.data", header=None, index_col= 0, na_values=['NA', '?'], names= col_names)

In [3]:
census.head()

,education,age,capital_gain,race,capital_loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

In [4]:
census.dtypes

education          object
age                 int64
capital_gain      float64
race               object
capital_loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [5]:
# .. your code here ..
census.isnull().values.sum()

4

In [7]:
census = census.fillna(0)

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [8]:
# .. your code here ..
census.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

In [9]:
census.sex.unique()

array(['Male', 'Female'], dtype=object)

In [10]:
census.classification.unique()

array(['<=50K', '>50K'], dtype=object)

In [11]:
census.race.nunique

<bound method IndexOpsMixin.nunique of 0                     White
1                     White
2                     White
3                     Black
4                     Black
5                     White
6                     Black
7                     White
8                     White
9                     White
10                    Black
11       Asian-Pac-Islander
12                    White
13       Amer-Indian-Eskimo
14                    White
15                    White
16                    White
17                    White
18                    White
19                    Black
20                    Black
21                    White
22                    White
23                    White
24                    White
25       Asian-Pac-Islander
26                    White
27                    White
28                    Black
29                    White
                ...
29506                 White
29507                 White
29508                 White
29509                 White
29510                 White
29511                 White
29512    Asian-Pac-Islander
29513                 White
29514    Asian-Pac-Islander
29515                 White
29516                 Black
29517                 White
29518                 Black
29519                 Black
29520                 White
29521                 White
29522                 Black
29523                 White
29524                 Other
29525                 White
29526                 White
29527                 White
29528    Amer-Indian-Eskimo
29529    Asian-Pac-Islander
29530                 White
29531                 White
29532                 White
29533                 White
29534                 White
29535                 White
Name: race, dtype: object>

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [12]:
# .. your code here ..
education_categories = ['1st-4th','5th-6th', '7th-8th','9th','10th','11th','12th','HS-grad','Some-college','Bachelors', 'Masters', 'Doctorate']
census.education = census.education.astype('category', ordered = True, categories = education_categories).cat.codes

params = ('ordered=True', 'categories=set(census.classification)')
census.classification = census.classification.astype('category', *params).cat.codes

census.sex = census.sex.astype('category').cat.codes

census.race.unique()
census = pd.get_dummies(census, columns=['race'])

Lastly, print out your dataframe!

In [14]:
# .. your code here
print(census)

       education  age  capital_gain  capital_loss  hours-per-week  sex  \
0              9   39        2174.0             0              40    1
1              9   50           0.0             0              13    1
2              7   38           0.0             0              40    1
3              5   53           0.0             0              40    1
4              9   28           0.0             0              40    0
5             10   37           0.0             0              40    0
6              3   49           0.0             0              16    0
7              7   52           0.0             0              45    1
8             10   31       14084.0             0              50    0
9              9   42        5178.0             0              40    1
10             8   37           0.0             0              80    1
11             9   30           0.0             0              40    1
12             9   23           0.0             0              30    0
13             2   34           0.0             0              45    1
14             7   25           0.0             0              35    1
15             7   32           0.0             0              40    1
16             5   38           0.0             0              50    1
17            10   43           0.0             0              45    0
18            11   40           0.0             0              60    1
19             7   54           0.0             0              20    0
20             3   35           0.0             0              40    1
21             5   43           0.0          2042              40    1
22             7   59           0.0             0              40    0
23             9   56           0.0             0              40    1
24             7   19           0.0             0              40    1
25             8   54           0.0             0              60    1
26             7   39           0.0             0              80    1
27             7   49           0.0             0              40    1
28             8   20           0.0             0              44    1
29             9   45           0.0          1408              40    1
...          ...  ...           ...           ...             ...  ...
29506          7   30           0.0             0              55    1
29507          4   32           0.0             0              40    1
29508          8   22           0.0             0              40    1
29509          7   31           0.0             0              40    0
29510          7   29           0.0             0              35    0
29511          9   35           0.0             0              55    0
29512          9   30           0.0             0              99    0
29513         11   34           0.0             0              60    1
29514          9   54           0.0             0              50    1
29515          8   37           0.0             0              39    0
29516          6   22           0.0             0              35    1
29517          9   34           0.0             0              55    0
29518          7   30           0.0             0              46    1
29519          9   38       15020.0             0              45    0
29520         11   71           0.0             0              10    1
29521          7   45           0.0             0              40    0
29522          7   41           0.0             0              32    0
29523          7   72           0.0             0              25    1
29524         10   31           0.0             0              30    0
29525          7   43           0.0             0              40    1
29526          8   43           0.0             0              40    0
29527          8   43           0.0             0              50    1
29528          4   32           0.0             0              40    1
29529         10   32           0.0             0              11    1
29530         10   53           0.0             0              40    1
29531          8   22           0.0             0              40    1
29532          7   40           0.0             0              40    1
29533          7   58           0.0             0              40    0
29534          7   22           0.0             0              20    1
29535          7   52       15024.0             0              40    0

       classification  race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  \
0                   0                        0                        0
1                   0                        0                        0
2                   0                        0                        0
3                   0                        0                        0
4                   0                        0                        0
5                   0                        0                        0
6                   0                        0                        0
7                   1                        0                        0
8                   1                        0                        0
9                   1                        0                        0
10                  1                        0                        0
11                  1                        0                        1
12                  0                        0                        0
13                  0                        1                        0
14                  0                        0                        0
15                  0                        0                        0
16                  0                        0                        0
17                  1                        0                        0
18                  1                        0                        0
19                  0                        0                        0
20                  0                        0                        0
21                  0                        0                        0
22                  0                        0                        0
23                  1                        0                        0
24                  0                        0                        0
25                  1                        0                        1
26                  0                        0                        0
27                  0                        0                        0
28                  0                        0                        0
29                  0                        0                        0
...               ...                      ...                      ...
29506               0                        0                        0
29507               0                        0                        0
29508               0                        0                        0
29509               0                        0                        0
29510               0                        0                        0
29511               1                        0                        0
29512               0                        0                        1
29513               1                        0                        0
29514               1                        0                        1
29515               0                        0                        0
29516               0                        0                        0
29517               1                        0                        0
29518               0                        0                        0
29519               1                        0                        0
29520               1                        0                        0
29521               0                        0                        0
29522               0                        0                        0
29523               0                        0                        0
29524               0                        0                        0
29525               0                        0                        0
29526               0                        0                        0
29527               0                        0                        0
29528               0                        1                        0
29529               0                        0                        1
29530               1                        0                        0
29531               0                        0                        0
29532               1                        0                        0
29533               0                        0                        0
29534               0                        0                        0
29535               1                        0                        0

       race_Black  race_Other  race_White
0               0           0           1
1               0           0           1
2               0           0           1
3               1           0           0
4               1           0           0
5               0           0           1
6               1           0           0
7               0           0           1
8               0           0           1
9               0           0           1
10              1           0           0
11              0           0           0
12              0           0           1
13              0           0           0
14              0           0           1
15              0           0           1
16              0           0           1
17              0           0           1
18              0           0           1
19              1           0           0
20              1           0           0
21              0           0           1
22              0           0           1
23              0           0           1
24              0           0           1
25              0           0           0
26              0           0           1
27              0           0           1
28              1           0           0
29              0           0           1
...           ...         ...         ...
29506           0           0           1
29507           0           0           1
29508           0           0           1
29509           0           0           1
29510           0           0           1
29511           0           0           1
29512           0           0           0
29513           0           0           1
29514           0           0           0
29515           0           0           1
29516           1           0           0
29517           0           0           1
29518           1           0           0
29519           1           0           0
29520           0           0           1
29521           0           0           1
29522           1           0           0
29523           0           0           1
29524           0           1           0
29525           0           0           1
29526           0           0           1
29527           0           0           1
29528           0           0           0
29529           0           0           0
29530           0           0           1
29531           0           0           1
29532           0           0           1
29533           0           0           1
29534           0           0           1
29535           0           0           1

[29536 rows x 12 columns]