# DAT210x - Programming with Python for DS

## Module6- Lab6

In [1]:
import pandas as pd
import time
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

### How to Get The Dataset

Grab the DLA HAR dataset from:

- http://groupware.les.inf.puc-rio.br/har
- http://groupware.les.inf.puc-rio.br/static/har/dataset-har-PUC-Rio-ugulino.zip
- A cached copy of the dataset is included in the course repository.

After extracting it out, load up the dataset into dataframe named `X` and do your regular dataframe examination:

In [20]:
# .. your code here ..
X = pd.read_csv('./Datasets/dataset-har-PUC-Rio-ugulino.csv', sep = ';')

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
X.head()

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
0,debora,Woman,46,"1,62",75,"28,6",-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,sitting
1,debora,Woman,46,"1,62",75,"28,6",-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,sitting
2,debora,Woman,46,"1,62",75,"28,6",-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,sitting
3,debora,Woman,46,"1,62",75,"28,6",-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,sitting
4,debora,Woman,46,"1,62",75,"28,6",-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,sitting

In [4]:
X.isnull().values.sum()

0

Encode the gender column such that: `0` is male, and `1` as female:

In [5]:
# .. your code here ..
X.gender = X.gender.map({'Man' : 0, 'Woman' : 1})

Clean up any columns with commas in them so that they're properly represented as decimals:

In [6]:
# .. your code here ..
X['how_tall_in_meters'] = X['how_tall_in_meters'].str.replace(',','').astype(int)
X['body_mass_index'] =  X['body_mass_index'].str.replace(',', '').astype(int)

Let's take a peek at your data types:

In [7]:
X.dtypes

user                  object
gender                 int64
age                    int64
how_tall_in_meters     int64
weight                 int64
body_mass_index        int64
x1                     int64
y1                     int64
z1                     int64
x2                     int64
y2                     int64
z2                     int64
x3                     int64
y3                     int64
z3                     int64
x4                     int64
y4                     int64
z4                    object
class                 object
dtype: object

Convert any column that needs to be converted into numeric use `errors='raise'`. This will alert you if something ends up being problematic.

In [8]:
# .. your code here ..
X = X[X.z4 != '-14420-11-2011 04:50:23.713']

In [9]:
X.z4 = X.z4.apply(pd.to_numeric, args = ('raise' ,))

If you find any problematic records, drop them before calling the `to_numeric` methods above.

Okay, now encode your `y` value as a Pandas dummies version of your dataset's `class` column:

In [10]:
# .. your code here ..
y = X['class']

In [11]:
y = pd.get_dummies(y, columns = ['class'])

In fact, get rid of the `user` and `class` columns:

Let's take a look at your handy-work:

You can also easily display which rows have nans in them, if any:

In [12]:
# .. your code here ..
X = X.drop(['user', 'class'], axis =1)
print (X.describe())

              gender            age  how_tall_in_meters         weight  \
count  165632.000000  165632.000000       165632.000000  165632.000000
mean        0.612044      38.264925          163.971201      70.819431
std         0.487286      13.183821            5.282045      11.296557
min         0.000000      28.000000          158.000000      55.000000
25%         0.000000      28.000000          158.000000      55.000000
50%         1.000000      31.000000          162.000000      75.000000
75%         1.000000      46.000000          171.000000      83.000000
max         1.000000      75.000000          171.000000      83.000000

       body_mass_index             x1             y1             z1  \
count    165632.000000  165632.000000  165632.000000  165632.000000
mean        261.885348      -6.649319      88.293591     -93.164449
std          29.957814      11.616273      23.895881      39.409487
min         220.000000    -306.000000    -271.000000    -603.000000
25%         220.000000     -12.000000      78.000000    -120.000000
50%         284.000000      -6.000000      94.000000     -98.000000
75%         286.000000       0.000000     101.000000     -64.000000
max         286.000000     509.000000     533.000000     411.000000

                  x2             y2             z2             x3  \
count  165632.000000  165632.000000  165632.000000  165632.000000
mean      -87.827956     -52.065911    -175.055647      17.423517
std       169.435606     205.160081     192.817111      52.635546
min      -494.000000    -517.000000    -617.000000    -499.000000
25%       -35.000000     -29.000000    -141.000000       9.000000
50%        -9.000000      27.000000    -118.000000      22.000000
75%         4.000000      86.000000     -29.000000      34.000000
max       473.000000     295.000000     122.000000     507.000000

                  y3             z3             x4             y4  \
count  165632.000000  165632.000000  165632.000000  165632.000000
mean      104.517056     -93.881641    -167.641211     -92.625235
std        54.155987      45.389770      38.311336      19.968653
min      -506.000000    -613.000000    -702.000000    -526.000000
25%        95.000000    -103.000000    -190.000000    -103.000000
50%       107.000000     -90.000000    -168.000000     -91.000000
75%       120.000000     -80.000000    -153.000000     -80.000000
max       517.000000     410.000000     -13.000000      86.000000

                  z4
count  165632.000000
mean     -159.650985
std        13.221020
min      -537.000000
25%      -167.000000
50%      -160.000000
75%      -153.000000
max       -43.000000

In [19]:
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4]
Index: []

Create an RForest classifier named `model` and set `n_estimators=30`, the `max_depth` to 10, `oob_score=True`, and `random_state=0`:

In [15]:
model = RandomForestClassifier(n_estimators =30, max_depth =10, oob_score = True, random_state =0 )

Split your data into `test` / `train` sets. Your `test` size can be 30%, with `random_state` 7. Use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [14]:
# .. your code here ..
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state = 7 )

### Now the Fun Stuff

In [16]:
print("Fitting...")
s = time.time()

# TODO: train your model on your training set

# .. your code here ..
model.fit(X_train, y_train)
print("Fitting completed in: ", time.time() - s)

Fitting...
Fitting completed in:  8.335999250411987

Display the OOB Score of your data:

In [17]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

OOB Score:  98.744

In [18]:
print("Scoring...")
s = time.time()

# TODO: score your model on your test set

# .. your code here ..
b
print("Scoring completed in: ", time.time() - s)

Scoring...
Score:  95.687
Scoring completed in:  1.1534976959228516

At this point, go ahead and answer the lab questions, then return here to experiment more --

Try playing around with the gender column. For example, encode `gender` `Male:1`, and `Female:0`. Also try encoding it as a Pandas dummies variable and seeing what changes that has. You can also try dropping gender entirely from the dataframe. How does that change the score of the model? This will be a key insight on how your feature encoding alters your overall scoring, and why it's important to choose good ones.

In [22]:
# .. your code changes above ..
X.gender = X.gender.map({'Man' : 1, 'Woman' : 0})
X['how_tall_in_meters'] = X['how_tall_in_meters'].str.replace(',','').astype(int)
X['body_mass_index'] =  X['body_mass_index'].str.replace(',', '').astype(int)
X = X[X.z4 != '-14420-11-2011 04:50:23.713']
X.z4 = X.z4.apply(pd.to_numeric, args = ('raise' ,))
y = X['class']
y = pd.get_dummies(y, columns = ['class'])
X = X.drop(['user', 'class'], axis =1)

After that, try messing with `y`. Right now its encoded with dummies, but try other encoding methods to what effects they have.

In [23]:
model = RandomForestClassifier(n_estimators =30, max_depth =10, oob_score = True, random_state =0 )
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state = 7 )
model.fit(X_train, y_train)
print("Fitting completed in...")

Fitting completed in...

In [24]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

OOB Score:  98.771

In [25]:
score = model.score(X_test, y_test)
print("Score: ", round(score*100, 3))

Score:  95.939